.Header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 2rem;
}

.Header img {
  height: 68px;
}

.Header nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.Header nav a {
  text-decoration: none;
  color: #FF6060;
  font-size: 1.5em;
  margin-left: 2em;
}

.Header nav a.active {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .Header {
    padding: .5rem;
  }

  .Header img {
    height: 40px;
  }

  .Header nav a {
    text-transform: uppercase;
    font-size: .8em;
    margin-left: .8em ;
  }
}
